* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*padre de todo*/

.padre {
    display: flex;
    flex-flow: column nowrap;
    width: 1366px;
}


/*header*/

.header {
    background-color: violet;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background-color: tomato;
    display: flex;
    flex-flow: row nowrap;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-color: teal;
    flex: 1 1 10;
    height: 10px;
}

.nav {
    background-color: turquoise;
    flex: 1 1 10;
    height: auto;
    display: flex;
}

.input {
    background-color: grey;
    flex: 1 1 auto;
    height: 10px;
}

.avatar {
    background-color: yellow;
    flex: 1 1 auto;
    height: 10px;
}


/*la del medio*/

.principal {
    background-color: black;
    display: flex;
    height: 500px;
    /*align-items: flex-start;*/
}

.main {
    background-color: yellowgreen;
    flex: 1 1 80%;
}

.lateral {
    background-color: brown;
    flex: 1 1 auto;
}

.algo {
    background-color: aqua;
}


/*reproductor o footer*/

.reproductor {
    background-color: #968ABB;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.banda {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 1%;
    flex: 1 1 auto;
}

.imagenBanda {
    height: 50px;
    width: 50px;
}

.detallesBanda {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 1%;
    /*width: 180px;*/
}

.detallesBanda p {
    font-size: 14px;
    color: white;
}


/*.contenedorLike {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex: 1 1 auto;
}*/

.like {
    fill: white;
    height: 30px;
    width: 30px;
    margin-left: 5%;
}

.play {
    display: flex;
    flex-flow: column nowrap;
    /*align-items: center;*/
    justify-content: center;
    width: 10%;
    flex: 1 1 auto;
}

.buttons {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
}

.backMusic {
    display: flex;
    align-content: flex-end;
    fill: white;
    height: 20px;
    width: 20px;
    /* margin-right: 5%;*/
    flex: 3 1 auto;
    margin-top: 1%;
}

.play-button {
    height: 30px;
    width: 30px;
    fill: white;
    flex: 1 1 auto;
    margin-bottom: 1%;
}

.nextMusic {
    display: flex;
    align-content: flex-start;
    fill: white;
    height: 20px;
    width: 20px;
    /* margin-left: 3.5%;*/
    flex: 3 1 auto;
    margin-top: 1%;
}

.slider {
    display: flex;
    height: auto;
    flex: 1 1 auto;
}

#myProgress {
    width: auto;
    background-color:  white;
}

#myBar {
    width: 300px;
    height: 10px;
}

.sliderMusic {
    fill: white;
    height: 40px;
    width: 100px;
}

.volumen {
    margin-right: 1%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    flex: 1 1 auto;
}

.up {
    height: 30px;
    width: 30px;
    fill: white;
    margin-right: 10%;
}

.volumen-button {
    height: 30px;
    width: 30px;
    fill: white;
}