body{
    background-color: #000000;
    margin: 0;
}
/*Barra de navegacion - footer*/
.flex-navbar{
    display: flex;
    flex-direction: row;
    background-color: #968ABB;
    height: 9vh;
    width: 99.9vw;
    justify-content: space-between;
 }
/*Items barra de navegacion*/
 .flex-items-navbar{
    display: flex;
    flex-direction: row;
    background-color: #968ABB;
    justify-content: flex-end;
 }
/*Barra de navegacion lateral*/
 .flex-navbar-left{
    display: flex;
    flex-direction: column;
    background-color: #333234;
    height: 82vh;
    width: 8vw;
 }
/*Tiems de navegacion lateral*/
 .items-navbar-left{
    font-family: 'Poppins';
    color: blanchedalmond;
    text-align: justify;
    font-size: 20px;
    margin-left: 10px;
    margin: 5px;
}


/*Lista de navegacion lateral*/
.list-navbar-left{
    padding-left: 5px;
    margin-left: 15px;
    margin-top:15px ;
    font-size: 14px;
}

/*Items barra del footer*/
.flex-items-footer{
    display: flex;
    flex-direction: row;
    background-color: #968ABB;
 }
/*Items*/
 .items{
    width: 100px;
    height: 50px;
    color: blanchedalmond;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}



.logo{
    margin-top: 5px;
    height: 60px;
    width: 60px;
    padding: 5px;
    padding-left: 15px;
}

.playButton{
    height: 60px;
    width: 60px;
    margin: 10px;
    justify-content: center;
}

.nextButton{
    height: 30px;
    width: 30px;
    justify-content: center;
    padding-bottom: 20px;
}

.backButton{
    height: 30px;
    width: 30px;
    justify-content: center;
    padding-top: 20px;
    transform: rotate(180deg);
}
/*Buscarlos en color blanco*/
.backPage{
    height: 30px;
    width: 30px;
    transform: rotate(180deg);
}
/*Buscarlos en color blanco*/
.nextPage{
    width: 0px;
    margin-top: 10px;
    color: blanchedalmond;
    text-align: center;
    line-height: 0px;
    font-size: 30px;
    height: 30px;
    width: 30px;
}
.footer-player{

}
.footer-img{
  margin-top: 18px ;
  margin-left: 15px ;
}

.footer-track{
    font-family: 'Poppins';
    color: blanchedalmond;
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 5px;
}

.footer-band{
    font-family: 'Poppins';
    color: blanchedalmond;
    text-align: justify;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 5px;
}