* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: white;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid black;
}


/*-----------------------------navbar-----------------------------*/

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.header {
    background-color: #968ABB;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: space-between;
    overflow: hidden;
    z-index: 1;
}

.logo {
    flex: 1 1 10%;
    z-index: 1;
}

.logo img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.logo img {
    display: block;
    height: 60px;
    width: 60px;
    margin-left: 5px;
    z-index: 1;
}

.browser {
    margin-right: 5px;
    border-radius: 100px;
    background: #FFFFFF;
    color: black;
    box-shadow: none;
    outline: none;
    border: none;
    width: 12%;
}

.browser:hover {
    box-shadow: 3px 5px black;
}

.browser:focus {
    box-shadow: 3px 5px black;
}

.navbar {
    flex: 10 1 50%;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 1;
}

.navbar img {
    margin-right: 15px;
    height: 30px;
    width: 30px;
    z-index: 1;
}

.navbar img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.search-button {
    margin-right: 35px;
    height: 25px;
    width: 25px;
    fill: white;
}


/*-----------------------------contenido y sidebar-----------------------------*/

.main-section {
    margin-top: 80px;
    background: black;
    display: flex;
}


/*-----------------------------contenido-----------------------------*/

.main-content {
    flex: 10 1 100%;
    background: black;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 50px;
}

.back-arrow {
    margin-top: 10px;
    margin-left: 12px;
    height: 20px;
    width: 20px;
    fill: white;
}

.back-arrow:hover {
    transform: scale(1.3);
    cursor: pointer;
}


/*-------------------------------caruosel------------------------------*/

.slider {
    position: relative;
    height: 300px;
    overflow: hidden;
    margin-top: 10px;
}

.slider-inner {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(11, 5fr);
}

.slider-img {
    height: 200px;
    width: 200px;
    margin-left: 12px;
}

.slider-item {
    height: 200px;
    width: 200px;
}

.slider-title {
    margin-left: 13px;
    margin-bottom: 5px;
}



/*-----------------------------sidebar------------------------------*/

.side-bar {
    flex: 1 1 auto;
    height: auto;
    background-color: #333234;
    color: white;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.side-bar p {
    flex: 1 1 60%;
    margin-left: 10px;
}

.side-bar li {
    text-align: justify;
    margin-left: 15%;
}

#side-bar-text:hover {
    color: #968ABB;
    cursor: pointer;
}


/*-----------------------------reproductor-----------------------------*/

.fixed-bot {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.fixed-left {
    left: 0;
    position: fixed;
}

.footer {
    background: #968ABB;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 80px;
    align-content: space-between;
}
        .play-button {
            height: 30px;
            width: 30px;
            fill: white;
            display: initial;
            margin-right: 50px;
            margin-left: 50px;
        }
        
            .play-button:hover{
                transform: scale(1.1);
            }

        .pause-button{
            height: 25px;
            width: 30px;
            fill: white;
            display: none;
            margin-right: 50px;
            margin-left: 50px;
        }
        
            .pause-button:hover{
                transform: scale(1.3);
            }
        
        .song-dates{
            margin-left: 5px;
            display: flex;
            flex: 1 1 auto;
            align-items: center;
        } 

        .song-names{
            margin-left: 10px;
        }

        #song-name:hover{
            color: black;
            cursor: pointer;
        }

        .sub-name{
            font-size:13px ;
        }

        #band-name:hover{
            color: black;
            cursor: pointer;
        }

        #player-img:hover{
            transform: scale(1.1);
            cursor: pointer;
        }

        .like {
            fill: white;
            height: 30px;
            width: 30px;
            margin-left: 5%;
        }

        
        .player-container {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            flex: 3 1 50%;
        }

        .play {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            width: 400px;
            height: 35px;
        }
        
        .backMusic {
            fill: white;
            height: 15px;
            width: 15px;
        }

        .backMusic:hover{
            transform: scale(1.3);
            cursor: pointer;
        }
        
        .nextMusic {
            fill: white;
            height: 15px;
            width: 15px;
        }

        .nextMusic:hover{
            transform: scale(1.3);
            cursor: pointer;
        }
        
        .volumen {
            margin-left: 8%;
            margin-right: 10px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            flex: 1 1 auto;
        }
        
        .up {
            height: 30px;
            width: 30px;
            fill: white;
            margin-right: 10%;
        }

        .up:hover{
            transform: scale(1.3);
            cursor: pointer;
        }
        
        .volumen-button {
            height: 30px;
            width: 30px;
            fill: white;
        }

        .volumen-button:hover{
            transform: scale(1.3);
            cursor: pointer;
        }
        #myProgress {
            margin-top: 5px;
            width: 400px;
            height: 4px;
            background-color: white;

        }
        #myProgress:hover {
            cursor: pointer;
        }

        #myBar {
            height: 4px;
            background-repeat: no-repeat;
            background-image: url(../img/fonto-timer.png);
            background-position: -400px;
            animation: timer 120s;
        }

        @keyframes timer{
            0%{
                background-position: -400px;
            }
            100%{
                background-position: 0px;
            }
        }

        /*-----------------------------------------------------HOME-------------------------------*/

        .main-content-home{
            margin-top: 100px;
            height: 80vh;
            background:black;
            display: flex;
            flex: 1 1 100%;
            flex-flow: column wrap;
            margin-bottom: 50px;
            align-items: center;
            background-image: url(../img/homegirl.png);
            background-repeat: no-repeat;
        }

        .footer-home{
            background: #333234;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 80px;
            align-content: space-between;
        }

        .login-section{
            margin-top: 50px;
            margin-bottom: 20px;
            display: flex;
            flex-flow: column nowrap;
        }

        .registry-section{
            margin-top: 30px;
            display: flex;
            flex-flow: column nowrap;
            margin-bottom: 150px;
            align-items: center;

        }

        .input{
            width: 365px;
            height: 36px;
        }

        .bigButton{
            margin-top: 10px;
            width: 365px;
            height: 52px;
            background: #85C076;
            border-radius: 4px;
            color: black;
        }

        .registry-button{
            margin-top: 5px;
            width: 152px;
            height: 45px;
            background: #C0BCCE;
            border-radius: 4px;
        }

        .footer-home{
            display: flex;
            flex-direction: row nowrap;
            justify-content: center;
        }

        .footer-item2{
            margin-left: 10px;
            margin-right: 10px;
        }

        .footer-item2:hover{
            color:#968ABB ;
        }

        .footer-item1:hover{
            color:#968ABB ;
        }

        .footer-item3:hover{
            color:#968ABB ;
        }

        
/*-----------------------------------------------------Player-------------------------------*/

.reproductorGrande {
    display: flex;
    height: 80vh;
    width: auto;
    flex-flow: column nowrap;
    /*justify-content: center;*/
    align-items: center;
}

#imgPlayer {
    display: flex;
    height: 400px;
    width: 400px;
}

.magic {
    display: flex;
    width: 25px;
}

.textPlayerRow1 {
    display: flex;
    margin-top: 6px;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.menuPuntos {
    display: flex;
    fill: white;
    height: 25px;
    width: 25px;
}

.textPlayer1 {
    display: flex;
    margin-top: 6px;
}

.textPlayerRow2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 36px;
}

.textPlayerRow3 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 6px;
}

.star {
    fill: white;
    width: 18px;
    height: 16px;
    margin-bottom: 2px;
    margin-left: 1px;
}

.starVote {
    fill: white;
    width: 45px;
    height: 43px;
    margin-left: 5px;
    margin-bottom: 50px;
}

.p24 {
    font-size: 24px;
}

.p18 {
    font-size: 18px;
}