* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: white;
}


/* Popup box BEGIN */

.hover_bkgr_fricc {
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.hover_bkgr_fricc .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hover_bkgr_fricc>div {
    background-color: black;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 350px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.popupCloseButton {
    background-color: black;
    border: 3px solid #968ABB;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 27.5px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popupCloseButton:hover {
    background-color: #968ABB;
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #968ABB;
    /*font-weight: bold;*/
}

.trigger_popup_fricc2 {
    cursor: pointer;
    display: inline-block;
    /*font-weight: bold;*/
}

.trigger_popup_fricc:hover {
    background-color: #968ABB;
    color: black;
}


/* Popup box BEGIN */

.p36 {
    font-size: 36px;
}

.p14 {
    font-size: 14px;
}

.headerPlayList {
    display: flex;
    /*height: 80vh;*/
    width: auto;
    flex-flow: row nowrap;
    margin-top: 30px;
    margin-left: 20px;
}

.imgPlayList {
    display: flex;
    width: 260px;
    height: 190px;
    justify-content: center;
}

.textosPlayList {
    margin-left: 20px;
    height: 190px;
}

.iconoHeaderPL {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 40px;
}

.descargar {
    fill: white;
    width: 40px;
    height: 40px;
    margin-left: 50px;
}

.like2 {
    fill: white;
    height: 30px;
    width: 30px;
}

.miniIconos {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    align-items: flex-end;
    margin-right: 80px;
    height: 190px;
}

.miniIcono1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.miniIcono2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.p20 {
    font-size: 20px;
}

.like4 {
    fill: white;
    height: 15px;
    width: 20px;
    margin-left: 5px;
}

.volumen-button2 {
    fill: white;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}


/*----------------aca arranca la lista de resultados-------------*/

.listaResultados {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    margin-left: 20px;
}


/*----------------la cabecera de la tabla-------------*/

.tituloLista {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 50px;
    margin-right: 80px;
}


/*----------------cada cancion-------------*/

.cancion {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 20px;
    margin-right: 80px;
    background-color: #141414;
}


/*.cancion:hover {
    background-color: #968ABB;
    color: black;
    /*ESTO NO FUNCA
}*/

.itemCancion {
    display: flex;
    flex: 1 1 auto;
    width: 265px;
}

.iconosLista {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.like3 {
    fill: #141414;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.play-button2 {
    fill: #141414;
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.magic2 {
    display: flex;
    width: 55px;
}

.menuPuntos2 {
    display: flex;
    fill: #141414;
    height: 20px;
    width: 20px;
}

.magic3 {
    display: flex;
    width: 27px;
}

.itemCancionRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /*width: 530px;*/
}

.space {
    width: 300px;
}

.hoverCancion {
    background-color: #968ABB;
}

.svgBlack {
    fill: white;
}

.textoNegro {
    color: white;
}

.puntosNegro {
    fill: white;
}


/*----------------aca termina la lista de resultados-------------*/

.verde {
    background-color: #85C076;
    margin-top: 10px;
}

.popFlexFather {
    display: flex;
}

.popFlex {
    display: flex;
    flex-flow: row nowrap;
}

.starVote2 {
    fill: white;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    align-items: center;
    /*margin-bottom: 10px;*/
}