* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: white;
}


/* Popup box BEGIN */

.hover_bkgr_fricc {
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.hover_bkgr_fricc .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hover_bkgr_fricc>div {
    background-color: black;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.popupCloseButton {
    background-color: black;
    border: 3px solid #968ABB;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 27.5px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popupCloseButton:hover {
    background-color: #968ABB;
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #968ABB;
    /*font-weight: bold;*/
}

.trigger_popup_fricc:hover {
    background-color: #968ABB;
    color: black;
}


/* Popup box BEGIN */