*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.paralax{
    position: relative;
    min-height: 1000px;
    height: 100%;
    background: url("../img/up.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}

.cloud1{
    z-index: 1;
}
.cloud2{
    z-index: 2;
}
.cloud3{
    z-index: 3;
}
.cloud4{
    z-index: 4;
}
.cloud5{
    z-index: 5;
}

.clouds{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.clouds img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate 10s linear infinite;
}


@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    25%{
        opacity: 0.5;
        transform: scale(2);
    }
    
    50%{
        opacity: 3;
        transform: scale(2.5);
    }
    75%{
        opacity: 0.5;
        transform: scale(3);
    }
    100%{
        opacity: 0;
        transform: scale(3.5);
    }
}

.buttons{
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.nav-item{
  font-size: 15px;
  padding: 0px 60px;
  font-weight: bold;
  
}

.navbarcontainterhidden{
    display: none;
}

.navbarcontainter{
    display: inline;
}

.navbarcontainter a{
    animation: navbar 2s ease-in;
}

@keyframes navbar{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    25%{
        opacity: 0.2;
        transform: translateX(-100px);
    }
    
    50%{
        opacity: 0.4;
        transform: translateX(0px);
    }
    75%{
        opacity: 0.6;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.flip3D{
    width: 240px;
    height: 200px;
    margin: 10px;
    float: left;
    position: relative;
    z-index: 2;
}

.flip3D > .front{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    width: 240px; 
    height: 200px; 
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.flip3D > .back{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    width: 240px; height: 200px; border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.flip3D:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.flip3D:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

.flip3D > .back > img {
        max-width: 240px;
        max-height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.flip3D > .front > img {
    max-width: 240px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flip3Dcontainerhidden{
    display: none;
}

.flip3Dcontainer{
    display: inline;
}

.flip3Dcontainer > .flip3D{
    animation: flip3D 3s ease-in;
}

@keyframes flip3D{
    0%{
        transform: translateY(500px);
        opacity: 0;
    }
    25%{
        opacity: 0.2;
        transform: translateY(400px);
    }
    
    50%{
        opacity: 0.4;
        transform: translateY(200px);
    }
    75%{
        opacity: 0.6;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

#bg{
    position: absolute;
    top: 1550px;
    width: 100%;
    height: 90%;
    background: url("../img/casavolando.png");
    background-repeat: no-repeat;
    background-position-x: 115%;
}

.carrusel-container{
    position: relative;
    width: 800px;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
}

.carrusel-slide{
    display: flex;
    width: 100%;
    height: 500px;

}

#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.5 ;
    cursor: pointer;
}

#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.5 ;
    cursor: pointer;
}




