
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.paralax{
    position: relative;
    min-height: 1000px;
    height: 100%;
    background: url("../img/up.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}

.cloud1{
    z-index: 1;
}
.cloud2{
    z-index: 2;
}
.cloud3{
    z-index: 3;
}
.cloud4{
    z-index: 4;
}
.cloud5{
    z-index: 5;
}

.clouds{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.clouds img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate 10s linear infinite;
}


@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    25%{
        opacity: 0.5;
        transform: scale(2);
    }
    
    50%{
        opacity: 3;
        transform: scale(2.5);
    }
    75%{
        opacity: 0.5;
        transform: scale(3);
    }
    100%{
        opacity: 0;
        transform: scale(3.5);
    }
}

.buttons{
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.nav-item{
  font-size: 15px;
  padding: 0px 60px;
  font-weight: bold;
  
}

.navbarcontainterhidden{
    display: none;
}

.navbarcontainter{
    display: inline;
}

.navbarcontainter a{
    animation: navbar 2s ease-in;
}

@keyframes navbar{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    25%{
        opacity: 0.2;
        transform: translateX(-100px);
    }
    
    50%{
        opacity: 0.4;
        transform: translateX(0px);
    }
    75%{
        opacity: 0.6;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.flip3D{
    width: 240px;
    height: 200px;
    margin: 10px;
    float: left;
    position: relative;
    z-index: 2;
}

.flip3D > .front{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    width: 240px; 
    height: 200px; 
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.flip3D > .back{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    width: 240px; 
    height: 200px; 
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.flip3D:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.flip3D:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

.flip3D > .back > img {
        max-width: 240px;
        max-height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.flip3D > .front > img {
    max-width: 240px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flip3Dcontainerhidden{
    display: none;
}

.flip3Dcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flip3Dcontainer > .flip3D{
    animation: flip3D 3s ease-in;
}

@keyframes flip3D{
    0%{
        transform: translateY(500px);
        opacity: 0;
    }
    25%{
        opacity: 0.2;
        transform: translateY(400px);
    }
    
    50%{
        opacity: 0.4;
        transform: translateY(200px);
    }
    75%{
        opacity: 0.6;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

#bg{
    position: absolute;
    top: 1200px;
    width: 100%;
    height: 90%;
    background: url("../img/casavolando.png");
    background-repeat: no-repeat;
}

.carrusel-container{
    position: relative;
    width: 800px;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
}

.carrusel-slide{
    display: flex;
    width: 100%;
    height: 500px;

}
.imgcarrusel{
    width: 100%;
    height: 500px;
}

#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.5 ;
    cursor: pointer;
}

#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.5 ;
    cursor: pointer;
}

.text{
    height: 50vh;
    width: 99vw;
    justify-content: center;
    align-items: center;
}

.text > h{
    padding: 0;
    font-size: 48px;
    color: black;
    font-family: 'Bebas Neue', cursive;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
}

.toggler{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50% ;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.hamburger{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hamburger> div {
    position: absolute;
    width: 50%;
    height: 3px;
    border-radius: 1.5px;
    background-color: white;
}

.hamburger> div:before, .hamburger> div:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: white;
}
.hamburger> div:before{
    top: -10px;
}

.hamburger> div:after{
    top: 10px;
}

.toggler:checked + .hamburger>div{
    transform : rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
    transform : rotate(225deg);
}

.toggler:checked +.hamburger>div:after, .toggler:checked + .hamburger>div:before{
    transform: rotate(90deg);
    top: 0;
}

.toggler:checked ~ .menu{
    visibility: visible;
}

.toggler:checked ~ .menu>div{
    transform : translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu>div > div{
    opacity: 1;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 90vh;
    transition: .6s;
    visibility: hidden;
}


.menu > div{
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius : 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    background-color: rgba(0,0,0,0.9) ;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu > div > div{
    max-width: 90vw;
    max-height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.menu > div > div > ul > li{
    list-style: none;
}

.menu > div > div > ul > li > a{
    text-decoration: none;
    margin: 5rem;
    display: inline-block;
    font-size:1.2rem;
    font-weight: 550;
    text-transform: uppercase;
    color: white;
}

.menu > div > div > ul > li > a:hover{
    color: yellow;
}

.acordion{
    width: 40vw;
    margin: 2rem auto;
}

.acordion-item{
    border: 5px solid black;
    margin: 1rem;
}

.acordion-item-header{
    padding: 0.5rem;
    height: 3.5rem;
    font-weight: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.acordion-item-header::after{
    content: "\002B";
    font-size: 1rem;
    position: absolute;
    right: 1rem;
}

.acordion-item-header.active::after{
    content: "\2212";
}

.acordion-item-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.acordion-item-body-content{
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
}

.acordion-item-header.active + .acordion-item-body{
    max-height: 500px;
}

.textAcordion{
    text-decoration: none;
    display: inline-block;
    font-size:1.2rem;
    font-weight: 550;
    text-transform: uppercase;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.imgContainer:hover{
    transform: perspective(500px) rotateY(20deg);
    transition: 0.3s;
}

.imgAcordion {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

.countdown{
    text-decoration: none;
    display: inline-block;
    font-size:1.2rem;
    font-weight: 550;
    text-transform: uppercase;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.countdown:hover{
    transform: scale(2) translateX(45px);
    transition: 1s ease-in;
}







